[submodule "rusefi_lib"]
	path = rusefi_lib_external
	url = https://github.com/rusefi/kicad-libraries
[submodule "gerbers/bom_jlc"]
	path = gerbers/bom_jlc
	url = https://github.com/andreika-git/bom_jlc
[submodule "gerbers/InteractiveHtmlBom"]
	path = gerbers/InteractiveHtmlBom
	url = https://github.com/openscopeproject/InteractiveHtmlBom.git
[submodule "hellen-one"]
	path = hellen-one
	url = https://github.com/andreika-git/hellen-one
